<div class="page-header"><h2>Civil Rendszerváltás 2018</h2></div>
<p>
Meggyőződésünk, hogy a mai világban, a döntések kidolgozásához, képviseletéhez és érvényesítéséhez nincsen szükség pártokra.
Az emberek számára, minden kérdésben biztosítható a hozzáférés a programokhoz, szakmai döntésekhez, tervezéshez, és garantálható számukra a választás biztonságos lehetősége.
Nincsen szükség arra, hogy a nevünkben és helyettünk, véleményünknek akár megfelelően, akár annak ellenében, döntsenek pártok és képviselők.
Nincsen szükség, közvetett módon képviseleti rendszerre, hisz technikailag kivitelezhető a közvetlen választás lehetősége bármely kérdésben.
Minden eszköz rendelkezésre áll ahhoz, hogy lehetőséget biztosítsunk a szakmai programok és alternatíváik létrehozására, megbízhatóan megoldjuk az ezekre leadott szavazatok összesítését, számolását, és hitelesen nyilvánosan garantáljuk a programok hosszú távú megvalósítását, folyamatos javítását.
</p>
<p>
Mivel jelen törvények és alkotmány következtében, csak pártok juthatnak a parlamentbe, és ezek tagjai szavazhatnak, így ezen idealisztikus állapot jelenleg nem elérhető.
Ez okból pártot szervezünk, mely az eredeti célban megfogalmazott nyilvánosságot, szakmai munkát, a választás és döntés szabadságát garantálja minden résztvevő és közreműködő számára.
A cél, hogy a szakmai csoportok által létrehozott, nyilvános programok közül a tagok kiválasszák azt, ami a többségnek leginkább megfelel, és pártként ezt az álláspontot egységesen képviseljük.
</p>
<p>
A működéshez garantálni kell az
<ul>
    <li>átláthatóságot</li>
    <li>választható szakmai programokat</li>
    <li>hiteles, és a többségi akaratot garantáltan képviselő, választott képviseletet</li>
</ul>
Ezen szempontok alapján kell megvalósítani a rendszert.
</p>
<div class="page-header"><h2>Megvalósítás</h2></div>
<p>
A "Civil Rendszerváltás 2018" három alappillérre épülne.
</p>
<p>
    <a href="#!/part" class="btn btn-default">Párt</a>
    <a href="#!/alap" class="btn btn-default">Alapítvány</a>
    <a href="#!/software" class="btn btn-default">Szoftver</a>
</p>
