<h2>Civil Rendszerváltás 2018</h2>
<div class="page-header"><h3>Alap adatok</h3></div>
<p>
    <div class="row">
        <div class="col-sm-2">Rövid név</div>
        <div class="col-sm-10">CR-2018 </div>       
    </div>
    <div class="row">
        <div class="col-sm-2">Tagság</div>
        <div class="col-sm-10">Párttag bárki lehet, aki a rögzített kritériumoknak megfelel.</div>       
    </div>
    <div class="row">
        <div class="col-sm-2">Szavazás</div>
        <div class="col-sm-10">A tagoknak szavazni lehet egy adott témában a kidolgozott szakmai programok között.</div>       
    </div>
    <div class="row">
        <div class="col-sm-2">Párt program</div>
        <div class="col-sm-10">A tagság által megválasztott szakmai programok összessége</div>       
    </div>
    <div class="row">
        <div class="col-sm-2">Képviselők</div>
        <div class="col-sm-10">A tagság által megválasztott képviselők, akik megválasztott programokat képviselik.</div>       
    </div>
</p>
<div class="page-header"><h3>Alap kritériumok</h3></div>
<p>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Átláthatóság</div>
                <div class="panel-body">
                    Minden működést és folyamatot szabályozó elem, így a döntések, szabályok, programok, pénzügyek is nyilvánosak.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Hozzáférhetőség</div>
                <div class="panel-body">
                    Minden működést és folyamatot szabályozó elemhez bárki hozzáférhet, és jobbító szándékkal javaslatot tehet szakmai program formájában, az aktuális, vagy tervezett állapot javítására.
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Demokratikus működés</div>
                <div class="panel-body">
                    A tagság többsége által választott szakmai programokat, egyként képviseljük, és támogatjuk.
                </div>
            </div>
        </div>
    </div>
</p>

<div class="page-header"><h3>Szakmai program</h3></div>
<p>
Az alap kritériumoknak megfelelő szakmai programot, bárki létre hozhat, bármely témában, nem csak párt tagok.
Egy program bekerülhet a rendszerbe külső civil vagy más szervezetek által kidolgozott formában, belső kezdeményezésre és valamely meglévő program alternatív változataként egyaránt.
</p>
<p>
Minden szakmai programban, az aktuálisan hatályban levő szabályozást és törvénykezést tekintjük kiindulási pontnak.
A program meghatározza az aktuális állapot javítását szolgáló célokat, célcsoportokat, és az ehhez szükséges törvény és szabály módosításokat, a célok célcsoportok elérését szolgáló lépéseket.
Bármely párttag csatlakozhat támogatóként bármely programhoz.
</p>
<p>
A programok nem irányulhatnak valamely csoport, kisebbség, vallás ellen, valamint a szólás- és véleményszabadság maradéktalan tiszteletben tartásával kell hogy megvalósításra kerüljenek.
</p>

<div class="page-header"><h3>Szakcsoport</h3></div>
<p>
Minden programot egy párttagokból álló szakcsoport kell képviseljen, a nyilvánosság előtt.
Az adott programot támogató tagság választja a szakcsoportot.
Feladatuk az adott program kidolgozása.
A szakcsoportnak vannak moderátorai, melyeket a szakcsoport tagjai választanak.
A program kidolgozási szakaszában a moderátorok felügyelik a meghatározott célok eléréséhez vezető szakmai lépések, törvények, szabályok kidolgozását.
</p>
<p>
Amennyiben a moderátorok igényeivel elvárásaival, javaslataival eltérő irányba szeretné egy párttag, avagy szakcsoport tag, tovább vinni a programot, úgy lehetősége van alternatív szakcsoport létrehozására, definiálva az eltérést, a célok, és megvalósítás tekintetében az eredeti koncepcióhoz viszonyítva, melyben moderátori szerepet tölt be.
</p>
<p>
A szakcsoportok által kidolgozott alternatív programok között a párttagok választanak.
</p>

<div class="page-header"><h3>Alap programok</h3></div>
<p>
Az alap szakmai programok a párt működését, és a párt céljait határozzák meg.
</p>

<div class="panel panel-default">
    <div class="panel-heading">Párt működése és irányítása</div>
    <div class="panel-body">
        <p>
        A párt a kitűzött célok, és szabályok tekintetében ugyanúgy működik, mint egy szakcsoport.
        Azaz a működését, belső szabályainak módosítását a tagok kezdeményezhetik, az alapszabályok (nyílvánosság, hozzáférhetőség, demokratikus működés) figyelembe vételével.
        Ilyen értelemben a párt alapítói, a működési szabályok meghatározását tekintve az első szakcsoport tagjai, és a program a párt működési elveinek lefektetése.
        </p>
        <p>Cél:<br/>
        Civil értelmiség alkosson programokat, szakértők bevonásával.<br/>
        Hogy lecseréljük a évtizedek óta regnáló politikai erőket, valódi civilekre, és hogy lecseréljük az ország 27 éve tartó szisztematikus kifosztását, valódi szakmai programokra.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Tagság, beléptetés</div>
    <div class="panel-body">
        <p>
Senki nem lehet tag, aki részt vett az elmúlt 27 + 50 évben az ország kormányzásában, tönkretételében.
Minden tag az alapszabályokat elfogadja, és tudomásul veszi azt, mind a program alkotás, mind a szakmai csoportok működése, választás folyamata, és a demokratikusan választott program egységes képviselete tekintetében.
        </p>
        <p>Cél:<br/>
Minnél több ember beléptetése.<br/>
Megélhetési politikusok ne kerülhessenek a pártba, tagbeléptetéssel ne lehessen a párt, és lokális szervezetek működését ellehetetleníteni.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Jelöltek</div>
    <div class="panel-body">
        <p>
Keresni kell különböző témákban (gazdaság, politika, kultúra, ...) a társadalom számára hiteles szakértőket, akik elkezdik a szakmai programok kidolgozását.
Képviselőknek olyan szakmai programok megalkotásában aktív szerepet vállaló szakértőket, szakpolitikusokat választunk szavazás útján, akik segítik, képviselik és működtetik a rendszert.
        </p><p>
Minden körzetben, a megelőző választáson legtöbb szavazatot kapott civil indulhat a párt jelöltjeként. Az általa vezetett helyi tagság jelöli ki a listás helyek maradék részét, azok közül a tagok közül, akik a képviselői kritériumnak eleget tesznek.
Később, majd lehetőséget kell adni lokális előválasztásra, hogy lehessen megmérettetnie magát más civil jelölteknek is, akikre az adott körzeten belüliek szavazhatnak, a fenti tagbeléptetés és karrieristák belépésének meggátolásával.
        </p>
        <p>Cél:<br/>
A szakmai alapokon nyugvó kormányzás, helyi érdekek igazi képviselete, kidolgozott szakmai programokat képviselő mandátumok szerzése.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Társadalmi kiegyezés</div>
    <div class="panel-body">
        <p>
Hiszünk benne, hogy bal és jobboldali, liberális és konzervatív emberek közösen és külön-külön is képesek az ország számára és hasznára, megfelelő programokat kidolgozni.
Hiszünk benne, hogy nem fontos, melyik kidolgozott szakmai alternatívát választják a tagok, amennyiben a választható lehetőségek önmagukban garantálják a szakmaiságot, hozzáférést, és a javítás lehetőségét egyaránt.<br/>
Pusztán filozófiai, erkölcsi avagy politikai kérdéssé változik,
<ul>
<li>hogy egykulcsos vagy kétkulcsos legyen az adó, amennyiben értelmes célokra használják a befolyt összeget.</li>
<li>hogy közmunka legyen vagy segélyezés, ha emberhez méltó életet garantálunk minden résztvevő számára.</li>
<li>hogy befogadjunk néhány menekültet vagy sem, ha garantálni tudjuk eközben az ország kulturális fennmaradását, hagyományainak megőrzését és tiszteletben tartását.</li>
</ul>
Sokkal fontosabb, hogy kidolgozott és átlátható legyen a program önmagában, mely a működést garantálja.
Hogy érvényesüljön a többség döntése, ami a kidolgozott szakmai programok közül, győztesként kerül kiválasztásra.
        </p>
        <p>Cél:<br/>
Minden politikai közösség képviselete a rendszerben, valódi együttműködés, kiegyezés.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Átláthatóság</div>
    <div class="panel-body">
        <p>
Teljes nyílvánosság követelése, pártok, alapítványok, és pályázatok elszámolásában. Nyilvános és többszereplős szabad versenyeztetés minden projekten és területen.
        </p>
        <p>Cél:<br/>
Átlátható, hozzáférhető működés.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Együttműködés, Koalíció</div>
    <div class="panel-body">
        <p>
Minden civil szervezettel szoros együttműködés, melyek szakmai háttere megkérdőjelezhetetlen.
Minden párttal együttműködünk, mely az átláthatóság, és hozzáférhetőség kritériumait magáénak vallja.
        </p>
        <p>Cél:<br/>
Az együttműködő pártok, szervezetek szerves integrációja a rendszerbe.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Szakmai csoportok</div>
    <div class="panel-body">
        <p>
Minden szakmához létrehozunk szakcsoportokat, melyek tagjai az adott szakmát gyakorló emberek, akik kidolgozhatják az őket érintő működést, törvényeket, és választhatnak a kidolgozott alternatívák között. Így például az oktatásban és egészségügyben a működést, és az azt szabályozó törvényeket a tanárok, illetve egészségügyi dolgozók határozhatják meg.
        </p>
        <p>Cél:<br/>
Önálló nyílvános és hozzáférhető autonóm működés minden szakmában, bürokrácia csökkentés.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Többi program</div>
    <div class="panel-body">
        <p>
Ti jöttök. Vegyétek a saját kezetekbe a sorsotokat !
        </p>
        <p>
            <a href="#" class="btn btn-default">Jelentkezés</a>
            //TODO GOOGLE FORM
        </p>
        <p>Cél:<br/>
Minél több terület, jobbá és élhetőbbé tétele.
        </p>
    </div>
</div>

