<h2>CivilSys Rendszer</h2>
<div class="page-header"><h3>Leírás</h3></div>
<p>
A CivilSys egy brainstorming és wikipédia alapú rendszer, mely segítséget nyújt egy vagy több kiválasztott terület tervezésében, működésének, hatékonyságénak javításában és növelésében, a kitűzött célok függvényében.
</p>

<div class="page-header"><h3>Tervezett funkciók</h3></div>
<p>
	<ul>
		<li>DataStore (Wikipédia szerű adatok, tények gyűjteménye, az aktuális állapotról)</li>
		<li>Brainstorming (az egyes adat elemek megváltoztatására irányuló platform, célok, folyamatok és alternatív lehetőségek definiálásával)</li>
		<li>Szavazás</li>
		<li>Fórum</li>
		<li>Hírek (Lokális és Globális)</li>
		<li>Elemzés, adatfeldolgozás, modell alkotás (pl dinamikus gazdasági adat tervezés, számlázás, riportolás)</li>
		<li>Integráció más OpenSource rendszerekkel (alkalmazások pl redmine, appok, rest service-k)</li>
	</ul>
</p>

